body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    padding: 25px 40px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-bottom: 20px;
}

.card p {
    text-align: left;
    margin: 8px 0;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 12px;
}

.login {
    background-color: green;
}

.logout {
    background-color: red;
}

.change {
    background-color: #007bff;
}

button:hover {
    opacity: 0.85;
}
